<h1>Event 1</h1>

<p>Denne side indeholder en beskrivelse af event_1.</p>

<p>I bunden vil der være en knap.</p>

<p>Knappen fører til en tilmeldingsform.</p>

<h2>TILMELD</h2>

<form method="post" action="/event_3">
    <div class="form-group">
        <label>Navn</label>
        <input type="text" class="form-control" placeholder="Fx. Anders Andersen..." name="name">
    </div>
    <div class="form-group">
        <label>Firma</label>
        <input type="text" class="form-control" placeholder="Firma" name="company">
    </div>
    <div class="form-group">
        <label>Titel</label>
        <input type="text" class="form-control" placeholder="Titel" name="working_title">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" placeholder="Email" name="email">
    </div>
    <button type="submit" class="btn btn-default">TILMELD</button>
</form>