<h1>Event 2</h1>

<p>Denne side indeholder en beskrivelse af event_2.</p>

<p>I bunden vil der være en knap.</p>

<p>Knappen fører til en tilmeldingsform.</p>

<h2>TILMELD</h2>

<form method="post" action="/event_2">
    <div class="form-group">
        <label>Navn</label>
        <input type="text" class="form-control" placeholder="Fx. Anders Andersen..." name="name" required>
    </div>
    <div class="form-group">
        <label>Firma</label>
        <input type="text" class="form-control" placeholder="Firma" name="company" required>
    </div>
    <div class="form-group">
        <label>Titel</label>
        <input type="text" class="form-control" placeholder="Titel" name="working_title" required>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" placeholder="Email" name="email" required>
    </div>
    <button type="submit" class="btn btn-default">TILMELD</button>
</form>

<hr>
<h2>TJEK DN TILMELDING</h2>
<form method="post" action="/event_2_check">
    <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" placeholder="Email" name="email" required>
    </div>
    <button type="submit" class="btn btn-default">TJEK TILMELDING</button>
</form>