<!DOCTYPE html>
<html>
<head>
	<title>Civilproces</title>

    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap-theme.min.css">
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/ajax/dist/ajax.min.js"></script>

    <link rel="stylesheet" href="/css/style01.css"/>

</head>
<body>
	<div class="container">
        <div class="row">
            <ul>
                <li><a href="/">Home</a></li>
                <li><p>/</p></li>
                <li><a href="/about">Om kurserne</a></li>
                <li><p>/</p></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </div>

        <br>

        <div class="row">
            <div class="col-lg-12">
                {{#if success_msg}}
                    <div class="alert alert-success">{{success_msg}}</div>
                {{/if}}

                {{#if error_msg}}
                    <div class="alert alert-danger">{{error_msg}}</div>
                {{/if}}

                {{#if error}}
                    <div class="alert alert-danger">{{error}}</div>
                {{/if}}
                {{{body}}}
            </div>
        </div>

        <br>

        <div class="row">
            <footer class="footer">
                <p>Mail. Telefon. Andre kontaktinformationer</p>
            </footer>
        </div>

    </div> <!-- /container -->
</body>
</html>
