<!DOCTYPE html>
<html>
<head>
	<title>Civilproces</title>

    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap-theme.min.css">
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/ajax/dist/ajax.min.js"></script>

    <script src="/js/shared_functions.js"></script>

    <link rel="stylesheet" href="/css/style01.css"/>

</head>
<body>
	<div class="container wrapper">
            <div class="row">
                <div id="top_menu" class="col-xs-12">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><p>/</p></li>
                        <li><a href="/about">Om kurserne</a></li>
                        <li><p>/</p></li>
                        <li><a href="/blog">Blog</a></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div id="body_box" class="col-xs-12">
                    {{#if success_msg}}
                        <div class="alert alert-success">{{success_msg}}</div>
                    {{/if}}

                    {{#if error_msg}}
                        <div class="alert alert-danger">{{error_msg}}</div>
                    {{/if}}

                    {{#if error}}
                        <div class="alert alert-danger">{{error}}</div>
                    {{/if}}
                    {{{body}}}
                </div>
            </div>

            <div id="front_event_menu" class="col-xs-3 invisible">
                <!--Knapper til events tilføjes automatisk-->
            </div>

    </div> <!-- /container -->
    <div class="container">
        <div id="info" class="col-xs-12">
            <p>Mail. Telefon. Andre kontaktinformationer</p>
        </div>
    </div>
</body>
</html>
