<h1>Om kurserne</h1>

<p>Kurset vil belyse grundlæggende spørgsmål om retssager mod det offentlige som:
Hvad bør man særligt være opmærksom på som advokat når man fører retssager
mod staten, kommuner, regioner eller statslige selskaber? Har domstolene en særlig
undersøgelsespligt i sager om prøvelse af myndighedsudøvelse? Er advokater, der
repræsenterer det offentlige, forpligtede til at varetage den private modparts interesser?
Normerer forvaltningsloven og forvaltningsretlige retsgrundsætninger det offentliges optræden i civile retssager?
Hvordan adskiller myndigheders retssagsførelse sig fra almindelig administrativ sagsbehandling?</p>

<p>Kurset opfylder betingelserne for at kunne anses for efteruddannelse, jf. § 3 i bekendtgørelse nr. 1474 om løbende obligatorisk efteruddannelse for advokater og advokatfuldmægtige.
    Der uddeles kursusbevis for deltagelsen (3 lektioner).</p>

<p>Frederik Waages disputats blev forsvaret i maj 2017. Yderligere information om doktorafhandlingen kan
    findes her: http://shop.karnovgroup.dk/products/det-offentlige-som-procespart</p>
<p>Dr.jur. Frederik Waage er tidligere advokat og ansat som adjunkt ved Syddansk Universitet med fagansvar
    for fagene civilproces og forfatningsret. Han var tilknyttet Finansministeriet som konsulent i forbindelse med
    forberedelsen af forhandlingerne der gik forud for indgåelsen af den kammeradvokataftale, der trådte i
    kraft pr. 1. januar 2016. Kurset opfylder betingelserne for at kunne anses for efteruddannelse, jf. § 3 i
    bekendtgørelse nr. 1474 om løbende obligatorisk efteruddannelse for advokater og advokatfuldmægtige.
    Der uddeles kursusbevis for deltagelsen (3 lektioner).</p>