<link rel="stylesheet" href="/css/admin.css"/>

<h1>Admin side</h1>
<p>Denne side indeholder oplysninger om alle tilmeldte.</p>

<div id="table_box"></div>











<!--<div class="row" id="event_menu">
    <ul>
    </ul>
</div>

<div class="table-responsive">
    <table class="table table-condensed table-hover" id="event_table">
        <tr>
            <th>#</th>
            <th>Navn</th>
            <th>Virksomhed</th>
            <th>Stilling</th>
            <th>E-mail</th>
            <th>Tilmeldt</th>
            <th>Afmeld</th>
        </tr>
        <tbody id="data_insert">

        </tbody>
    </table>
</div>

<div id="delete_event_btn"></div>-->









<script rel="javascript" src="/js/admin_event.js"></script>

