<h1>Forside</h1>

<p>Her står der et par linjer der gælder hele siden. Det skal være relevant men kort.</p>

<br>
<br>
<br>

<p>Disse events vil være i højre side af skærmen. Hver knap vil have grundlæggende information om tid og sted.</p>

<ul>
    <li><a href="/event_1">Event 1</a></li>
    <li><a href="/event_2">Event 2</a></li>
    <li><a href="/event_3">Event 3</a></li>
</ul>

<br>
<br>

<p>Dette link til administratorsiden vil blive fjernet. Til den tid vil administratoren skulle skrive /admin efter domænet.</p>

<a href="admin">Admin (fjernes)</a>
