<link rel="stylesheet" href="/css/index.css"/>
<link rel="stylesheet" href="/css/eventlist.css"/>

<h1>Forside</h1>

<p>Det offentlige som procespart
    Advokatkursus
    Sønderborg 31. august 2017 kl. 15-17.45
    Aarhus 7. september 2017 kl. 15-17.45
    3 kursuslektioner</p>

<p>I anledning af udgivelsen af doktorafhandlingen Det offentlige som procespart
    Afholdes der et advokatkursus fredag den 31. august 2017 kl. 15-17.45 i Sønderborg Aviation Center.
    Samme kursus afholdes
    Torsdag den 7. september 2017 kl. 15-17.45 i DGI Huset i Aarhus.</p>

<p></p>







<script src="/js/index.js"></script>
