<link rel="stylesheet" href="/css/index.css"/>

<h1>Forside</h1>

<p>Her står der et par linjer der gælder hele siden. Det skal være relevant men kort.</p>

<p>Denne sætning er med vilje meget lang, for at sikre, at der ikke klippes noget tekst af når sidemenuen vises. Blabla, noget om storke, hvad skal jeg skrive, jeg mangler inspiration. Jeg er næsten kun halvvejs! Teeeeekst! Jeg kan se.... 2 vinduer, 2 (eller 3) døre, 1..2..3..4..5..6 lamper og et stort bord.</p>

<br>
<br>
<br>

<p>Disse events vil være i højre side af skærmen. Hver knap vil have grundlæggende information om tid og sted.</p>

<br>
<br>

<p>Lorem ipsum dolor sit amet, lorem justo molestie condimentum. Nulla mi in vel nobis et, amet arcu tellus ipsum risus, vestibulum gravida neque lacinia nam ligula arcu. Curabitur quam scelerisque amet velit, tincidunt suspendisse sociis velit. Euismod cras, ante quibusdam dis fringilla ut porttitor, id gravida, sapien sollicitudin nulla vestibulum, ipsum amet mauris mattis. Lacinia a aliquam enim lobortis nam, elit vestibulum ultricies eget curabitur. Ipsum ultricies vehicula neque mauris ut nam, vivamus egestas, sit erat, hymenaeos convallis. Unde donec dictumst ullamcorper vel faucibus, quis sit curabitur rhoncus odio integer. Sed commodo maecenas nunc arcu, massa mauris sapien, est nulla ultrices pede bibendum, nullam mauris ante vestibulum, ut justo. Ut cursus vitae ornare, mi erat explicabo leo, posuere sagittis cursus aenean eleifend et, volutpat et quis facilisis vestibulum in, rhoncus cras eros phasellus dis et. Dictum vitae lectus, nunc leo harum et ultrices, hymenaeos metus sociis wisi tincidunt nulla, vehicula lobortis felis feugiat congue ipsum metus, aliquam porta ad ante aliquam. Justo risus, consequat a at nulla sem mauris. Quis amet mattis, leo lacus ratione qui, tortor phasellus urna mollis imperdiet.
    Vehicula id quis, pellentesque suspendisse vulputate. Proin luctus etiam metus feugiat imperdiet tellus, libero sed mollis at pede, mattis quis phasellus mus donec magna. Enim nibh nibh massa, egestas sed. Pellentesque nunc vel nec vivamus phasellus mauris, wisi ultricies sit nec aliquet, integer est consectetuer sit venenatis. Consectetuer libero at per morbi laoreet, et eros metus vitae massa malesuada fringilla. Nam libero placerat vestibulum neque bibendum nonummy, sed lacus tristique aliquet nec, dui metus amet morbi sollicitudin duis diam, orci etiam id feugiat ipsum aliquam.
    Porttitor turpis augue elit feugiat turpis et. Nec eu. Fusce mi sapien lacus libero. Enim et dolor rutrum elit. Ornare autem porta magna, pharetra nullam, enim conubia cursus, nec lobortis cursus nibh non suspendisse.</p>

<br>
<br>

<p>Dette link til administratorsiden vil blive fjernet. Til den tid vil administratoren skulle skrive /admin efter domænet.</p>

<a href="admin">Admin (fjernes)</a>

<script src="/js/index.js"></script>