<h2 class="page-header">Forside</h2>

<br>

<p>Her står der et par linjer der gælder hele siden. Det skal være relevant men kort.</p>

<a href="/event_1">Event 1</a>
<br>
<a href="/event_2">Event 2</a>
<br>
<a href="/event_3">Event 3</a>

<br>
<br>

<a href="admin">Admin (fjernes)</a>
