<link rel="stylesheet" href="/css/index.css"/>
<link rel="stylesheet" href="/css/eventlist.css"/>

<div class="heading row">
    <div class="hidden-xs col-sm-1"></div>

    <div class="summary col-xs-12 col-sm-10">
        <div class="row">
            <h1 class="big hidden-xs">Civilproces</h1>
            <h1 class="small visible-xs">Civilproces</h1>
        </div>
    </div>
</div>

<div class="summary row">
    <div class="hidden-xs col-sm-1"></div>

    <div class="text col-xs-12 col-sm-8 col-md-9">
        <p>
            I anledning af udgivelsen af doktorafhandlingen Det offentlige som procespart
            Afholdes der et advokatkursus fredag den 31. august 2017 kl. 15-17.45 i Sønderborg Aviation Center.
            Samme kursus afholdes
            Torsdag den 7. september 2017 kl. 15-17.45 i DGI Huset i Aarhus.
        </p>
    </div>
</div>









<script src="/js/index.js"></script>
