<link rel="stylesheet" href="/css/index.css"/>

<h1>Forside</h1>

<p>Her står der et par linjer der gælder hele siden. Det skal være relevant men kort.</p>

<br>
<br>
<br>

<p>Disse events vil være i højre side af skærmen. Hver knap vil have grundlæggende information om tid og sted.</p>

<br>
<br>

<p>Dette link til administratorsiden vil blive fjernet. Til den tid vil administratoren skulle skrive /admin efter domænet.</p>

<a href="admin">Admin (fjernes)</a>

<script src="/js/index.js"></script>