<h2 class="page-header">Forside</h2>

<a href="#">Home</a>
<br>
<a href="about">Om kurserne</a>
<br>
<a href="blog.handlebars">Blog</a>
<br>
<a href="login">Login (fjernes)</a>

<p>Her står der et par linjer der gælder hele siden. Det skal være relevant men kort.</p>

<a href="event_1">Event 1</a>
<br>
<a href="event_2">Event 2</a>
<br>
<a href="event_3">Event 3</a>
