<link rel="stylesheet" href="/css/policies.css"/>

<div class="row">
    <div class="hidden-xs col-sm-1 col-md-2"></div>

    <div class="col-xs-12 col-sm-10 col-md-8">
        <h1>Privathedspolitik</h1>

        <p>Her står hvorfor den indsamlede data er nødvendig og at den vil blive slettet efter brug.</p>
        <p>Pr. 28. maj 2018 skal det jf. persondataloven også oplyses, hvor serveren og databasen befinder sig fysisk.</p>
        <p>Serveren befinder sig i Amsterdam og databasen i Frankfurt.</p>
    </div>
</div>






