
p, h1, h2, h3, h4, h5, h6 {
    color: white;
}

.heading .big {
    margin-top: 80px;
    font-size: 10vw;
}

.heading .small {
    margin-top: 40px;
    /*margin-left: 8%;*/
    font-size: 16vw;
}

.summary .text {
    /*background-color: #5cb85c;*/
    margin: 20px 0 200px 0;
    line-height: calc(14px + 1vw);
    /*padding: 10px 50px;*/
    padding: 0 20px;
    font-size: calc(12px + 1vw);
}



