html, body {
    height: 100%;
}

.container {
    /*background-color: #00b3ee;*/
    padding: 0;
    margin: 0;
    width: 100%;
}

.row {
    /*background-color: #CCCCCC;*/
    padding: 0;
    margin: 0;
}

.wrapper {
    background-color: #a6e1ec;
    min-height: 100%;
    margin-bottom: -40px;
}

#info, .wrapper:after {
    height: 40px;
}

#info {
    background-color: orange;
}



#body_box {
    padding-top: 50px;
    background-color: #c1e2b3;
}






