html, body {
    height: 100%;
}

.container {
    /*background-color: #00b3ee;*/
    padding: 0;
    margin: 0;
    width: 100%;
}

.row {
    /*background-color: #CCCCCC;*/
    padding: 0;
    margin: 0;
}


.wrapper {
    background-color: #a6e1ec;
    min-height: 100%;
    margin-bottom: -200px;
}

#info, .wrapper:after {
    height: 200px;
}

#info {
    background-color: orange;
}










ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a, li p {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#top_menu {
    background-color: #b2dba1;
}

#body_box {
    background-color: #28a4c9;
}

#front_event_menu {
    background-color: #c3325f;
    position: absolute;
}



