.container {
    /*background-color: #00b3ee;*/
    padding: 0;
    margin: 0;
    width: 100%;
}

.row {
    /*background-color: #CCCCCC;*/
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a, li p {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#top_menu {
    background-color: #b2dba1;
}

#body_box {
    background-color: #28a4c9;
}

#info {
    background-color: #5cb85c;
}

#front_event_menu {
    background-color: #c3325f;
    position: absolute;
}