.container {
    background-color: #00b3ee;
    padding: 0;
    margin: 0;
    width: 100%;
}

.row {
    background-color: #CCCCCC;
    padding: 0;
    margin: 0;
}

footer {
    bottom: 0;
    clear: both;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a, li p {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
