<slot>
    {
    "title": "Husk at læse 6",
    "subtitle": "Det er vigtigt ikke at komme bagud.",
    "image": "University_of_Virginia_School_of_Law,_Library.jpg",
    "index": 6
    }
</slot>

<h1>Artikel 6</h1>

<p>Dette er også et eksempel på en artikel.</p>

<p>Her vil teksten også være sat letlæseligt op.</p>
