<template>
    {
    "title": "Husk at læse 1",
    "subtitle": "Det er vigtigt ikke at komme bagud.",
    "image": "American_law_digests.jpg",
    "index": 1
    }
</template>

<h1>Artikel 1</h1>

<p>Dette er et eksempel på en artikel.</p>

<p>Teksten vil være sat letlæseligt op.</p>

