<template>
    {
    "title": "Husk at læse 9",
    "subtitle": "Det er vigtigt ikke at komme bagud.",
    "image": "/",
    "index": 9
    }
</template>

<h1>Artikel 9</h1>

<p>Dette er også et eksempel på en artikel.</p>

<p>Her vil teksten også være sat letlæseligt op.</p>
