<slot>
    {
    "title": "Husk at læse 5",
    "subtitle": "Det er vigtigt ikke at komme bagud. Nu laver jeg teksten meget lang, så jeg kan teste funktionen, der skal afkorte for lange sætninger. Det kan godt tage lidt tid at skrive, så hæng på et øjeblik. Jeg mangler kun lige et par ord for at have fyldt boksen ud. Sådan, tak for tålmodigheden.",
    "image": "pexels-photo-261625.jpeg",
    "index": 5
    }
</slot>

<h1>Artikel 5</h1>

<p>Dette er også et eksempel på en artikel.</p>

<p>Her vil teksten også være sat letlæseligt op.</p>
