<slot>
    {
    "title": "Husk at læse 9",
    "subtitle": "Det er vigtigt ikke at komme bagud.",
    "image": "judge-gavel-1461965131F9y.jpg",
    "index": 9
    }
</slot>

<h1>Artikel 9</h1>

<p>Dette er også et eksempel på en artikel.</p>

<p>Her vil teksten også være sat letlæseligt op.</p>
