<template>
    {
    "title": "Husk at læse 8",
    "subtitle": "Det er vigtigt ikke at komme bagud.",
    "image": "contract.jpg",
    "index": 8
    }
</template>

<h1>Artikel 8</h1>

<p>Dette er også et eksempel på en artikel.</p>

<p>Her vil teksten også være sat letlæseligt op.</p>
