<template>
    {
    "title": "Husk at læse 5",
    "subtitle": "Det er vigtigt ikke at komme bagud.",
    "image": "pexels-photo-261625.jpeg",
    "index": 5
    }
</template>

<h1>Artikel 5</h1>

<p>Dette er også et eksempel på en artikel.</p>

<p>Her vil teksten også være sat letlæseligt op.</p>
