<template>
    {
    "title": "Husk at læse 10",
    "subtitle": "Det er vigtigt ikke at komme bagud.",
    "image": "pexels-photo-210585.jpeg",
    "index": 10
    }
</template>

<h1>Artikel 10</h1>

<p>Dette er også et eksempel på en artikel.</p>

<p>Her vil teksten også være sat letlæseligt op.</p>
