<slot>
    {
    "title": "Husk at læse 7",
    "subtitle": "Det er vigtigt ikke at komme bagud.",
    "image": "American_law_digests.jpg",
    "index": 7
    }
</slot>

<h1>Artikel 7</h1>

<p>Dette er også et eksempel på en artikel.</p>

<p>Her vil teksten også være sat letlæseligt op.</p>
