<slot>
    {
    "title": "Husk at læse 2",
    "subtitle": "Det er vigtigt ikke at komme bagud.",
    "image": "contract.jpg",
    "index": 2
    }
</slot>

<h1>Artikel 2</h1>

<p>Dette er også et eksempel på en artikel.</p>

<p>Her vil teksten også være sat letlæseligt op.</p>
